.btn {
  display: block;
  position: relative;
  font: inherit;
  font-size: 36px;
  min-width: 200px;
  height: 60px;
  margin: 0 auto;

  color: var(--dark-color);
  background-color: var(--middle-color);
  border: 1px solid var(--light-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 250ms linear, color 500ms linear;
  outline: transparent;
  &:hover,
  &:focus {
    background-color: #06283d;
    color: #47b5ff;
    outline: transparent;
  }
}
.icobtn {
  position: absolute;
  top: 0;
  transform: translate(60%, -58%) rotate(50deg);
  fill: transparent;
  transition: fill 250ms linear;
  .btn:hover &,
  .btn:focus & {
    fill: var(--light-color);
  }
}
